<div class="container">

<!-- ngClass add/removes css elements on an html document -->
  <div class="collection">
    <div *ngFor='let dog of dogs' [ngClass]="dogStyle(dog)">
        {{dog.name}}
    </div>
  </div>

  <!-- ngFor tells angular that its an ngFor template -->
  <!-- [ngForOf]='dogs' tells angular that the ngFor is for dogs -->
  <ng-template ngFor let-dog [ngForOf]='dogs'>

    <app-dog-details *ngIf='!dog.leash' [(name)]='dog.name' [(color)]='dog.color'></app-dog-details>
  
  </ng-template>
  <!-- property binding -->
    <!-- two way binding using [()]-->

  <!-- <app-dog-details
    [(name)]="dog1.name"  
    [(color)]="dog1.color"
    (nameChange)="changeDog1($event)"></app-dog-details> -->
</div>
